[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
[submodule "public"]
	path = public
	url = git@github.com:damoon/damoon.github.io.git
